export DOCKER_REGISTRY_USERNAME="username"
export DOCKER_REGISTRY_PASSWORD="password"
export DOCKER_REGISTRY_URL="https://registry-1.docker.io/"

export STRETCH_CATTLE_ACCESS_KEY=access_key
export STRETCH_CATTLE_SECRET_KEY=secret_key
